page-contact {
    ion-header{
        background-color: color($colors, secondary);
        border: 2px solid color($colors, primary);
        font-size: 41px;
        text-align: center;
        color: white;
    }
}
